@define-color bg #040305;
@define-color fg #d9d3de;
@define-color gray1 #9b6acd;
@define-color gray2 #a694b8;
@define-color gray3 #9357ce;
@define-color gray4 #a47acc;
@define-color gray5 #9f77c8;
@define-color fg_bright #d9d3de;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}