:root {
--color00: #040305;
--color01: #040305;
--color02: #040305;
--color03: #9357ce;
--color04: #d9d3de;
--color05: #d9d3de;
--color06: #d9d3de;
--color07: #d9d3de;
--color08: #dc7070;
--color09: #70dc70;
--color0A: #dcdc70;
--color0B: #7070dc;
--color0C: #dc70dc;
--color0D: #70dcdc;
--color0E: #ccc7d1;
--color0F: #a694b8;
}
